* {
    box-sizing: border-box;
}
img {
    max-height: 410px;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif
}
.container {
    width: 60vw;
}
.product {
    margin: 5px 0;  
    border-radius: 10px;
    padding: 20px;
    display: flex;
    background-color: blanchedalmond;
    height: 100%;
}
.product img {
    border: 3px solid lightblue;
}
.productDescription {
    padding: 5px 20px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100%;
}
.buyButton {
    justify-self: center;
    align-self: center;
    padding: 10px 30px;
    border: 1px solid #3B231B;
    color: #3B231B;
    background-color: blanchedalmond;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0 gray;
    user-select: none;
}
.buyButton:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 4px 0 gray;
}